.reset-password-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.reset-password-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.auth-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.password-input span {
    position: absolute;
    top: 130px;
    left: 607px;
}

.password-inputt span {
    position: absolute;
    top: 174px;
    left: 607px;
}

.auth-button:hover {
    background-color: #0056b3;
}
.countdown-timer {
    display: flex;
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}

.flip-clock {
    perspective: 1000px;
    margin: 0 10px;
}

.flip-clock-inner {
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid #222;
    border-radius: 10px;
    background: #fff;
    transition: transform 0.5s;
}

.flip-clock-inner.flip {
    transform: rotateX(180deg);
}

.flip-clock-front,
.flip-clock-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

.flip-clock-back {
    transform: rotateX(180deg);
    background: #222;
    color: #fff;
}

@media (max-width: 768px) {
    .password-input span {
        position: absolute;
        top: 130px;
        left: 163px;
    }

    .password-inputt span {
        position: absolute;
        top: 174px;
        left: 163px;
    }
}
